{% extends 'base.html' %}



{% block content %}
<div class="container mt-5 pt-5 pb-5">
	<div class="col-md-6 offset-md-3">
		<form id="tg" method="POST">
			{% csrf_token %}
			<div class="form-error">{{ form.non_fields_errors}}</div>
			{% for f in form %} 
				<label>{{ f.label }}</label>
				{{ f }} <br>
				{% if f.errors %}
				    <div class="alert alert-danger">{{f.errors}}</div>
				{% endif %} 
			{% endfor %}
			<div class="d-grid gap-2">
				<button type="submit" class="btn btn-primary mt-4">Регистрация</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %}