*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
}
.content {
}
.content-top {
}
.top__image {
}
.top__image-img {
}
.content__body {
}
.body__title {
}
.body__content {
}
.content__footer {
}
.footer-price {
}
.footer-button {
}